/* import poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: poppins;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 2rem;
    background-color: rgb(206, 255, 239);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 0 0 10px 10px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Color-banner{
    font-family: poppins;
    font-weight: 900;
    font-size: 2rem;
    color: white;
    background-color: rgba(47, 151, 193, 0.973);
    border: 4px solid rgb(180, 245, 236);
    padding: 50px 40px 50px 30px;
    border-radius: 70px;
    margin-bottom:5rem ;
}

.color-code{

    font-family: poppins;
    font-weight: 600;
    font-size: 1.5rem;
    color: blue;
    
}

button{

    font-family: poppins;
    font-weight: 600;
    font-size: 1.5rem;
    padding: 1rem 5rem 1rem 5rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(206, 255, 239);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    margin: 1rem;
    transition: all 0.3s ease-in-out;
}

button:hover{

    background-color: rgb(2, 188, 164);
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}